<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Arahkan semua request ke folder public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Keamanan: Blokir akses ke file sensitif
<FilesMatch "^\.env|composer\.json|package\.json|phpunit\.xml|\.cpanel\.yml">
    Order allow,deny
    Deny from all
</FilesMatch>
